.navbar{
    background-color: pink;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
}

.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar a{
    font-size: 38px;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    background-color: white;
    color: pink;
}

body{
    margin:0;
    padding:0;
}

.Welcome{
    background-color: white;
    color:pink;
    padding: 10% 5%;
    text-align:center;
    display:box;
}

.contentA{
    background-color: pink;
    padding: 10% 5%;
    display:flex;
    text-align:center;
}

.contentA img{
    width: 80%;
    float: left;
}

.contentA p {
    font-size: 3vw;
    font-size: 450%;
    color: white
}

.cats{
    background-color: pink;
    padding: 10% 5%;
    display:flex;
    text-align:center;
}

.Dogs{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 10% 5%;
    display:flex;
    text-align:center;
    color:white;
}

